[Unit]
Description=ISU-Avista Portal Service
Requires=docker.service
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/docker-compose -f /opt/avista/avista.yml up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose -f /opt/avista/avista.yml down -v
WorkingDirectory=/opt/avista
User=avista

[Install]
WantedBy=multi-user.target


